<div id="root">
  <div class="card">
    <img [src]="card.img.hdUrl" class="card__image" alt="" />
    <div class="card__overlay">
      <div class="card__header">
        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
          <path />
        </svg>
        <img class="card__thumb" src="./assets/buy-blue.svg" alt="" />
        <div class="card__header-text">
          <h3 class="card__title">{{ card.name }}</h3>
          <span class="card__status">{{ card.cost }}</span>
          <span class="mx-1"><img src="./assets/coin.svg" /></span>
        </div>
      </div>
      <div class="button__div">
        <button
          class="btn btn-primary mt-1"
          (click)="redeem(card.cost, card._id)"
        >
          Redeem now!
        </button>
      </div>
    </div>
  </div>
</div>
