<div class="card mb-3 card-history">
  <div class="card-content">
    <div class="col-lg-4 col-sm-6">
      <img
        [src]="redeem.img.url"
        class="img-fluid rounded-start img-history"
        alt="redeem.name"
      />
    </div>
    <div class="col-lg-8 col-sm-6">
      <div class="card-body">
        <h5 class="card-title">{{ redeem.name }}</h5>
        <p class="card-text mb-1">
          {{ redeem.cost }} <span>{{ redeem.category }} </span>
        </p>
        <span><strong>Redeem date</strong> </span>
        <p class="card-text">
          <small class="text-muted">{{
            redeem.createDate | date: "short"
          }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
