<div class="card mb-3 card-history">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="redeem.img.url" class="img-fluid rounded-start" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ redeem.name }}</h5>
        <p class="card-text">
          {{ redeem.cost }} <span>{{ redeem.category }} </span>
        </p>
        <p class="card-text">
          <small class="text-muted">{{
            redeem.createDate | date: "short"
          }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
