@import '../../../assets/styles/variables';

li{
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-text{
    font-family: $primary-font;
    color: $blue;
    font-weight: 600;
    font-size: 1.5rem;
}