<app-header></app-header>
<div class="mt-5">
  <app-empty-state [hidden]="!errorService"></app-empty-state>
</div>
<div class="buttons-container" *ngIf="!errorService">
  <div>
    <span>Sort by</span>
    <button class="btn btn-primary mx-2 my-3" (click)="showMostrecent()">
      Most recent
    </button>
    <button class="btn btn-primary mx-2 my-3" (click)="sortByLowest()">
      Lowest price
    </button>
    <button class="btn btn-primary mx-2 my-3" (click)="sortByHighest()">
      Highest price
    </button>
  </div>
  <div>
    <button class="btn get-btn mx-2 my-3" (click)="openPointsModal()">
      Get Points!
    </button>
    <router-outlet></router-outlet>
  </div>
</div>
<div class="pagination mt-5" *ngIf="!errorService">
  <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
</div>
<div class="card-container">
  <div
    class="mt-5 mx-2"
    *ngFor="
      let product of products
        | paginate: { itemsPerPage: 16, currentPage: actualPage }
    "
  >
    <app-card [card]="product"></app-card>
  </div>
</div>
