@import '../../../assets/styles/variables';
.card-container{
    justify-content: center;
display: flex;
flex-direction: row;
flex-wrap:wrap;

}

.buttons-container{
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
       flex-direction: column;
      }
}

.pagination{
    display: flex;
    justify-content: flex-end;
}

.btn-primary{
    background-color:$light-blue!important;
    border: 1px solid $light-blue;
    color:$blue;
    font-weight: 600;
    &:hover{
        background-color: $yellow!important;
    }
    @media (max-width: 768px) {
        width: 88px;
       }
      
    
}

span{
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 3rem;
    margin-right: 1rem;
    @media (max-width: 768px) {
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.1rem;
       }

}

.get-btn{
    width: 200px;
    background-color: $yellow!important;
    color:$blue;
    font-weight: 600;
    font-size: 1.6rem;
    @media (max-width: 768px) {
        margin-left: 69px!important;
       }

}