@import '../../../../assets/styles/variables';

#image{
    width: 100vw;
    height: 500px;
    background-image: url(../../../../assets/header-x2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    @media only screen and (max-width: 768px){
        height: 250px;
    }
    @media only screen and (max-width: 576px){
        height: 150px;
    }
}

h1{
    color: $blue;
    font-family: $primary-font;
    font-weight: 600;
    

}